{% if tags | length > 0 %}

    <!-- Filter articles by tags -->
    <h2>{{ 'blog.by-tag'|trans }}</h2>

    <ul class="list-inline">
        {% for tag, weight in tags %}

            {% set fontSize = (100 + weight.1) ~ '%' %}

            <li>
                <a href="/blog/tag-{{ tag | url_encode }}"
                   style="font-size: {{ fontSize }}">{{ tag }}</a>

                <small>({{ weight.0 }})</small>
            </li>

        {% endfor %}
    </ul>

{% endif %}
