{% set currentNav = 'blog' %}

{% extends "layout.html.twig" %}


{% block main %}

<header class="clearfix">
    <!-- Title -->
    <h1 class="pull-left">
        <span id="page-title">{{ 'blog.home'|trans }}</span>

        {% if hasTagFilter or hasYearFilter or hasMonthFilter %}
            <!-- Filter used -->
            <small style="margin-left: 0.5em;"> »
                {% if hasTagFilter %}
                    {{ 'blog.having-tag' | trans([tag]) | raw }}
                {% elseif hasYearFilter %}
                    {{ 'blog.having-year' | trans([year]) | raw }}
                {% elseif hasMonthFilter %}
                    {{ 'blog.having-year-month' | trans([year, ('month.'~month)|trans]) | raw }}
                {% endif %}

                <!-- Remove filter -->
                <a href="/blog" title="{{ 'blog.remove-filter'|trans }}">
                    <i class="icon-remove" style="margin-top: 4px;"></i>
                </a>
            </small>
        {% endif %}
    </h1>

    {% if is_granted('ROLE_ADMIN') %}
        <!-- Go to dashboard -->
        <a href="/blog/dashboard" class="btn btn-default pull-right">
            <i class="icon-list-alt"></i> {{ 'blog.dashboard'|trans }}
        </a>
    {% endif %}
</header>


{% if articles is empty %}

    <big>{{ 'blog.noArticle'|trans }}</big>

{% else %}

    <div class="col-8">
        {% for article in articles %}
            {% include 'article/summary.html.twig' with article only %}
        {% endfor %}
    </div>

    <aside class="col-4">
        {% include 'blog/counter-and-navigation.html.twig' %}

        <nav class="box">
            <h1>{{ 'Search' | trans }}</h1>

            {{ tagsFilter | raw }}

            {{ datesFilter | raw }}
        </nav>
    </aside>

{% endif %}

{% endblock %}
