{% set currentNav = 'blog' %}

{% extends "layout.html.twig" %}


{% block javascripts %}
    <script src="/js/filters/by-tags.js"></script>
{% endblock %}


{% block main %}

<header class="clearfix">
    {{ titleAndFilters | raw }}

    {% if is_granted('ROLE_ADMIN') %}
        <!-- Go to dashboard -->
        <a href="/blog/dashboard" class="btn btn-default pull-right">
            <i class="fa fa-list-alt"></i> {{ 'blog.dashboard'|trans }}
        </a>
    {% endif %}
</header>

{% if elements is empty %}

    <big>{{ 'blog.noArticle'|trans }}</big>

{% else %}

    <div id="blog" class="col-xs-8">
        {% for article in elements %}
            {% include 'blog/summary.html.twig' with article only %}
        {% endfor %}
    </div>

    <aside class="col-xs-4">
        {{ counterAndNavigation | raw }}

        <nav class="box">
            <h1>{{ 'Search' | trans }}</h1>

            {{ tagsFilter | raw }}

            {{ datesFilter | raw }}
        </nav>
    </aside>

{% endif %}

{% endblock %}
