{% set currentNav = 'blog' %}

{% set form_action = isCreation ? '/blog/create' : ('/blog/'~article.slug~'/update') %}

{% extends "layout.html.twig" %}

{% from "macros.twig" import cancel, submit %}


{% block stylesheets %}

    <style type="text/css">
        #summary { height: 100px; }
        #text    { height: 200px; }
        #summary, #text, .preview { max-height: 600px; }
    </style>

{% endblock %}


{% block javascripts %}

    <script type="text/javascript" src="/js/jquery.elastic.source.js"></script>
    <script type="text/javascript" src="/js/blog-post.js"></script>

{% endblock %}


{% block main %}

    <header class="row">
        <!-- Breadcrumb + title -->
        <div class="pull-left">
            <nav>
                <a href="/blog">{{ 'blog.home'|trans }}</a> »
                <a href="/blog/dashboard">{{ 'blog.dashboard'|trans }}</a> »
            </nav>

            <h1 id="page-title">
                {{ (isCreation ? 'blog.creation' : 'blog.updating') | trans }}
            </h1>
        </div>

        <!-- Cancel creation -->
        <div class="pull-right">
            {{ cancel('/blog/dashboard') }}
        </div>
    </header>


    <form action="{{ form_action }}" method="post" class="form-horizontal">

        <!-- Title -->
        <div class="control-group {{ errors.title is defined ? 'error' }}">
            <label class="control-label" for="title">{{ 'blog.field.title'|trans }}</label>
            <div class="controls">
                <input type="text" id="title" name="title" class="span6" value="{{ article.title }}" placeholder="{{ 'blog.placeholder.title'|trans }}" />

                {% if errors.title is defined %}
                    <span class="help-block text-error">{{ errors.title }}</span>
                {% endif %}
            </div>
        </div>

        <!-- Slug -->
        <div class="control-group {{ errors.slug is defined ? 'error' }}">
            <label class="control-label" for="slug">{{ 'blog.field.slug'|trans }}</label>
            <div class="controls">
                <input type="text" id="slug" name="slug" class="span6" value="{{ article.slug }}" placeholder="{{ 'blog.placeholder.slug'|trans }}" />

                {% if errors.slug is defined %}
                    <span class="help-block text-error">{{ errors.slug }}</span>
                {% endif %}
            </div>
        </div>

        <!-- Publication DateTime -->
        <div class="control-group {{ errors.pubdatetime is defined ? 'error' }}">
            <label class="control-label" for="pubdatetime">{{ 'blog.field.pubdatetime'|trans }}</label>
            <div class="controls">
                <input type="text" id="pubdatetime" name="pubdatetime" value="{{ article.pubdatetime }}" placeholder="{{ 'blog.placeholder.pubdatetime'|trans }}" />

                {% if errors.pubdatetime is defined %}
                    <span class="help-block text-error">{{ errors.pubdatetime }}</span>
                {% endif %}
            </div>
        </div>

        <!-- Is it published ? -->
        <div class="control-group">
            <label class="control-label" for="ispublished">{{ 'blog.field.ispublished'|trans }}</label>
            <div class="controls">
                <input type="checkbox" id="ispublished" name="ispublished" {{ article.ispublished ? 'checked="checked"' }} />
            </div>
        </div>

        <!-- Can be commented ? -->
        <div class="control-group">
            <label class="control-label" for="becommented">{{ 'blog.field.becommented'|trans }}</label>
            <div class="controls">
                <input type="checkbox" id="becommented" name="becommented" {{ article.becommented ? 'checked="checked"' }} />
            </div>
        </div>

        <!-- Tags -->
        <div class="control-group {{ errors.tags is defined ? 'error' }}">
            <label class="control-label" for="tags">{{ 'blog.field.tags'|trans }}</label>
            <div class="controls">
                <input type="text" id="tags" name="tags" class="span8" value="{{- article.tags |  join(' ; ') -}}" placeholder="{{ 'blog.placeholder.tags'|trans }}">

                {% if errors.tags is defined %}
                    <span class="help-block text-error">{{ errors.tags }}</span>
                {% endif %}
            </div>
        </div>

        {# Text and Summary #}
        {% embed "blog/edit-text-field.html.twig" with {field: 'text'   } %}{% endembed %}
        {% embed "blog/edit-text-field.html.twig" with {field: 'summary'} %}{% endembed %}

        {{ submit() }}
    </form>

{% endblock %}
