<article itemscope itemtype="http://schema.org/BlogPosting" class="summary">

    <header class="clearfix">
        <h1 itemprop="name" class="pull-left">{{ title }}</h1>

        <time itemprop="datePublished" datetime="{{ pubDatetime }}" class="pull-right text-right">
            {{ pubDatetime | localizeddate('medium', 'none') }}
            <br>
            {{ pubDatetime | localizeddate('none', 'short') }}
        </time>
    </header>


    <div class="clearfix" itemprop="articleBody">
        {{ (summary|trim ? summary : text) | richText }}

        <big class="pull-right">
            <a itemprop="url" href="/blog/{{- slug -}}/read">» {{ 'Read more'|trans }}</a>
        </big>
    </div>


    <footer class="row">
        <!-- Tags -->
        <div class="col-xs-8">
            <i class="fa fa-tags" title="{{ 'blog.field.tags'|trans }}"></i>

            {% if tags is empty %}
                {{ 'none'|trans }}
            {% else %}
                <span itemprop="keywords">
                    {% for tag in tags %}
                        <span class="label label-default">{{ tag }}</span>
                    {% endfor %}
                </span>
            {% endif %}
        </div>

        {% if beCommented or countComments > 0 %}
            <!-- Comments -->
            <div class="pull-right" style="margin-left: 15px;">
                <meta itemprop="interactionCount" content="UserComments:{{- countComments -}}">

                <a itemprop="discussionUrl" href="/blog/{{- slug -}}/read#comments"
                    title="{{ 'comment.count'|trans([countComments]) }}"
                >
                    <i class="fa fa-comments"></i> {{ countComments }}
                </a>
            </div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <!-- Actions on article -->
            <div class="pull-right" style="margin-right: 15px;">
                <!-- Update -->
                <a href="/blog/{{- slug -}}/update" title="{{ 'Update'|trans }}">
                    <i class="fa fa-pencil"></i></a>

                <!-- Delete -->
                <a href="/blog/{{- slug -}}/delete" title="{{ 'Delete'|trans }}">
                    <i class="fa fa-trash-o"></i></a>
            </div>
        {% endif %}
    </footer>

</article>
