{% set currentNav = 'about' %}

{% extends "layout.html.twig" %}

{% from "macros.twig" import tags_box, add_linked_img %}

{% set tagsMathieu = [
    [3, '1987'],
    [4, yearsMathieu ~ ' ans'],
    [3, 'Asperge'],
    [3, 'Barbu'],
    [3, 'Baroudeur'],
    [1, 'Bidouilleur'],
    [2, 'Café allongé'],
    [3, 'Curieux'],
    [1, 'Gnu.42'],
    [1, 'Gourmand'],
    [2, 'Grimpeur'],
    [1, 'Grognon'],
    [1, 'Gueulard'],
    [3, 'Océan'],
    [1, 'Ouvert'],
    [2, 'Pragmatique'],
    [2, 'Rigueur'],
    [2, 'Sportif'],
    [3, 'Volontaire'],
] %}

{% set tagsMarie = [
    [3, '1988'],
    [4, yearsMarie ~ ' ans'],
    [3, 'Biodiversité'],
    [2, 'Blonde'],
    [1, 'Bordelique'],
    [1, 'Cuisine'],
    [2, 'Endurante'],
    [3, 'Fromage'],
    [1, 'Grimpeuse'],
    [2, 'Hobbit'],
    [3, 'Joyeuse'],
    [3, 'Lenteur'],
    [2, 'Logisticienne'],
    [1, 'Naïve'],
    [3, 'Siestes'],
    [2, 'Simple'],
    [1, 'Super sympa !'],
    [3, 'Ouverte'],
] %}

{% set tagsBoth = [
    [1, 'Câlins'],
    [1, 'Campagne'],
    [1, 'Gueulards'],
    [1, 'Ligériens'],
    [1, 'Loire-Atlantique'],
    [2, 'Amoureux'],
    [2, 'Décroissants'],
    [2, 'Rêveurs'],
    [3, 'Découverte'],
    [3, 'Joyeux'],
    [3, 'Nature'],
    [3, 'Voyage'],
    [4, yearsMMM ~ ' ans'],
    [4, 'Éclectiques'],
    [4, 'Écolos'],
    [4, 'Long cours'],
    [1, 'Bretons'],
    [1, 'Clampins'],
    [1, 'Croissants'],
    [1, 'Marais'],
    [2, 'Bivouac'],
    [2, 'Contemplatifs'],
    [2, 'Observateurs'],
    [3, 'Curieux'],
    [3, 'Écriture'],
    [3, 'Marche'],
    [3, 'Unis'],
    [4, 'Liberté'],
    [4, 'Vagabonds'],
] %}

{% set tagsBothMiddle = (tagsBoth | length) // 2 %}

{% set tagsAnarchosSemitas = [
    [1, 'زهر (zhar)'],
    [2, 'ἀνἀρχός'],
    [1, 'ἀναρχία'],
    [1, 'anarchia'],
    [1, 'Anarchie'],
    [3, 'Anarchique'],
    [3, 'Chemin'],
    [2, 'Cheminement'],
    [4, 'Démambulation'],
    [1, 'Désorganisation'],
    [4, 'Diversité'],
    [3, 'Hasard'],
    [3, 'Idée'],
    [4, 'Pensée'],
    [2, 'Sens'],
    [1, 'Sensation'],
    [2, 'Sēmita'],
    [4, 'Sentier'],
    [3, 'Tous azimuts'],
] | shuffle %}


{% block stylesheets %}
    <style>
        #main h2 { text-align: center; }

        #both { margin: 5px 90px; }
    </style>
{% endblock %}


{% block main %}
    <article itemscope itemtype="http://schema.org/Article">
        <h1 itemprop="name" id="page-title">À propos...</h1>

        <div itemprop="articleBody">
            <h2>Qui sommes-nous ?</h2>

            <div class="row">
                {{ tags_box(tagsMathieu, {align: 'right', class: 'span4', special: 'Mathieu'}) }}

                <div class="span4">
                    {{ add_linked_img('/images/ourselves/freepius.jpg', 'global', null, 'span6') }}
                    {{ add_linked_img('/images/ourselves/manalee.jpg', 'global', null, 'span6') }}
                </div>

                {{ tags_box(tagsMarie, {align: 'left', class: 'span4', special: 'Marie'}) }}
            </div>

            <div class="row text-center" style="margin-top: 5px;">
                <strong>Mathieu et Marie</strong>
            </div>

            <div id="both" class="row">
                {{ tags_box(tagsBoth[0:tagsBothMiddle], {align: 'right', class: 'span4'}) }}

                <div class="span4">
                    {{ add_linked_img('/images/ourselves/together.jpg', 'global') }}
                </div>

                {{ tags_box(tagsBoth[tagsBothMiddle:], {align: 'left', class: 'span4'}) }}
            </div>

            <h2 style="margin-bottom: -10px;">anarchos semitas</h2>

            <img src="/images/base/roots.png">

            {{ tags_box(tagsAnarchosSemitas, {class: 'muted'}) }}

            {%- set text -%}
*"anarchos semitas"* c'est l'idée que nos pas -- physiquement et philosophiquement -- se laisseront aller aux vagabondages, aux rencontres, à la découverte.
C'est l'idée, aussi, qu'ils essaieront de ne jamais suivre des routes et des pensées trop facilement tracées.
Nous avons tous deux, en effet, un profond besoin de construire nos vies, sans préjugé ni but strict,
le long de chemins de déambulation, de *"chemins anarchiques"*.

## Les débuts d'un long voyage

Des voyages, petits ou grands (en distance, en durée, en dureté...), nous aimerions en faire de nombreux,
qu'ils poussent sur notre ligne de vie comme des herbes folles, qu'ils la ponctuent d'abord, puis s'étendent jusqu'à en devenir son paysage.
Nous aimerions y être comme des enfants, naïfs et joyeux, et toujours considérer n'être qu'à nos débuts.
Des vies qui seraient alors *les débuts d'un long voyage*.
            {%- endset -%}
            {{ text | richText }}

            <img src="/images/base/fresco.png">
        </div>
    </article>
{% endblock %}
