{% set currentNav = 'contact' %}

{% extends "layout.html.twig" %}

{% from 'macros.twig' import cancel_link %}

{% from 'form.twig' import list_errors, render_fields, submit %}


{% block javascripts %}
<script>

    $(document).ready(function () {
        $.enableChangeCaptcha();
    });

</script>
{% endblock %}


{% block main %}
    <h1 id="page-title">{{ 'contact.title'|trans }}</h1>

    {{ list_errors(errors, 'contact') }}

    <div class="row" style="margin-bottom: 20px;">
        <img src="/images/base/pigeon-carrier.png" class="col-xs-2 img-rounded">

        <p class="col-xs-8">
            {% if app.locale == 'fr' %}
                Le formulaire ci-dessous vous permet de nous faire parvenir un pigeon voyageur.
                <br>
                Toutefois, si vous désirez nous écrire un message plus complexe, avec des pièces jointes, de la couleur, des images...
                veuillez directement nous envoyer un email à l'adresse <b>contact&#160;(à-rot-base)&#160;anarchos-semitas.net</b> .
                <br>
                Dans les deux cas, il est fort probable que nous ne répondons <em>pas avant une semaine à un mois</em>. N'en soyez pas offensés...
            {% else %}
                The form below allows you to send us a pigeon carrier.
                <br>
                However, if you want to write us a more complex message, with attachments, colors, pictures...
                please directly send us an email at <b>contact&#160;(a-rot-base)&#160;anarchos-semitas.net</b> .
                <br>
                In both cases, it is quite likely that <em>we don't respond before a week to a month</em>. Don't be offended...
            {% endif %}
        </p>
    </div>

    <form action="/contact" method="post" class="form-horizontal">
        {{ render_fields(contact, errors, 'contact', {required: true},
            [
                {name: 'name'},
                {name: 'email'},
                {
                    name: 'subject',
                    size: 8
                },
                {
                    type: 'textarea',
                    name: 'message',
                },
                {type: 'captcha'}
            ]
        ) }}

        <div class="col-md-offset-3">
            {{ submit() }}
            {{ cancel_link('/home') }}
        </div>
    </form>

{% endblock %}
