{% extends "layout.html.twig" %}

{% from "macros.twig" import indent, linked_img %}


{% block main %}
    <h1 id="page-title">
        {{ ('error.title.' ~ (code == 404 ? '404' : 'other')) | trans }}
    </h1>

    {% set img = random(5) ~ '.jpg' %}

    {{ linked_img('/images/errors', img, {
        class: 'col-xs-4',
        class_img: 'img-rounded',
        thumb: true,
    }) }}

    <p class="col-xs-7 lead">
        {{ ('error.message.' ~ (code == 404 ? '404' : 'other')) | trans }}

        {{ message ? indent(message) }}

        <br><br>

        {{ 'error.go2home' | trans | raw }}

        <br>

        <small>{{ 'error.contactUs' | trans | raw }}</small>
    </p>

{% endblock %}
