{% set currentNav = 'home' %}

{% extends "layout.html.twig" %}

{% import "carto.twig" as carto %}

{% from "macros.twig" import linked_img %}


{% block stylesheets %}
    {{ carto.cssBase() }}

    <style>
        #map { height: 300px; }

        .carousel-inner img { width: 100%; }

        #main .col-xs-4 > div
        {
            border-radius: 10px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ carto.jsBase() }}
    <script src="{{ geoEntries_js }}"></script>
    <script>
        var currentPlace = [{{ lastGeoEntry.geoCoords | default('0, 0') }}];
    </script>
    <script src="/js/app-base-home.js"></script>
{% endblock %}


{% block main %}
    <aside class="col-xs-4">
        {% include "base/our-travels/3000-km-diagonal/book-pub.html.twig" only %}

        <!-- Carousel of last favorite images -->
        <div class="carousel-inner slide">
            {% for img in favoriteImages %}
                <div class="item {{ loop.first ? 'active' }}">
                    {{ linked_img('/media/web', img.content) }}
                </div>
            {% endfor %}
        </div>

        <!-- Link to media platform -->
        <div class="clearfix small special" style="margin-bottom: 1.5em;">
            <a href="/media" class="pull-right">» {{ 'See more images'|trans }}</a>
        </div>

        <!-- Mini-map -->
        <div id="map"></div>

        <!-- Link to the Map page -->
        <div class="clearfix small special" style="margin-bottom: 1.5em;">
            <a href="/map" class="pull-right">» {{ 'See the large map'|trans }}</a>
        </div>
    </aside>

    <div class="col-xs-8">
        <div class="box">
            {% include "base/home-welcome-text.html.twig" %}
        </div>

        <h2 id="home-last-published-articles">{{ 'Last published articles'|trans }}</h2>

        {% include "blog/summary.html.twig" with articles|first only %}

        <a href="/blog" class="strong special pull-right">» {{ 'See more articles'|trans }}</a>

        {% include "blog/mini-list.html.twig" with {articles: articles[1:]} only %}
    </div>
{% endblock %}
