{% set currentNav = 'home' %}

{% extends "layout.html.twig" %}

{% from "macros.twig" import linked_img %}

{% import "carto.twig" as carto %}


{% block stylesheets %}
    {{ carto.cssFiles() }}

    <style>
        #map { height: 300px; }

        .carousel-inner img { width: 100%; }

        #main .col-xs-4 > div
        {
            border-radius: 10px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ carto.jsFiles() }}
    <script src="/js/app-base-home.js"></script>
{% endblock %}


{% block main %}
    <article itemscope itemtype="http://schema.org/Article">
        <h1 id="page-title">Bienvenue à tous !</h1>

        <aside class="col-xs-4">
            <!-- Pub for our book : 3000 kilomètres en diagonale -->
            <div class="box">
                <a href="http://www.atramenta.net/books/3000-kilometres-en-diagonale/179"
                    title="Acheter «&nbsp;3&nbsp;000 kilomètres en diagonale&nbsp;» sur atramenta.net"
                    style="margin-right: 10px;" class="pull-left"
                >
                    <img src="http://www.atramenta.net/images/books/179-3000-kilometres-en-diagonale_cb.png"
                        alt="Acheter 3000 kilomètres en diagonale !">
                </a>
                <h2 style="margin-top: 10px; font-size: 1em;"><strong>Auto-édition</strong></h2>
                Plongez dans le récit de notre premier périple au long cours,
                en vente sur <a href="http://www.atramenta.net/books/3000-kilometres-en-diagonale/179">atramenta.net</a> !
            </div>

            <!-- Some pictures -->
            <div class="carousel-inner slide">
                {% for i in 0..19 %}
                    <div class="item {{ loop.first ? 'active' }}" data-offset="{{ i }}">
                        {{ linked_img('/images/home', i~'.jpg', {thumb: true}) }}
                    </div>
                {% endfor %}
            </div>

            <!-- Map related to these pictures -->
            <div id="map"></div>
        </aside>

        <div class="col-xs-8" itemprop="articleBody">
            {%- set text -%}
<big>Nous sommes **Marie** et **Mathieu**, deux jeunes voyageurs.</big>

L'espace web dans lequel vous venez d'entrer est notre petit jardin numérique, presque secret.
Doucement, humblement, nous y faisons pousser quelques idées vagabondes -- certaines douces et sucrées, d'autres amères et épicées, et d'autres encore.
Nous y semons, aussi, nos expériences, émotions et souvenirs de voyages.

<big>Cet espace est en construction. Mais promenez-vous y et dénichez :</big>

* une petite présentation de [nozigues](/about) ;
* un dossier sur notre [voyage de 2011](/our-trips/3000-km-diagonal), notre premier périple au long-cours :
  3000 km en France, en kayak et à pied, durant 6 mois ;
* un autre sur notre prochain voyage <small>(départ septembre 2013)</small> :
  [**Afrikapié**](/our-trips/afrikapie) ;
* quelques photos et cartes, de-ci de-là ;
* et un [pigeon voyageur](/contact), pour nous contacter.

Actuellement, nous nous préparons ici :
<a id="current-place" href="#" data-toggle="modal">*N47° 18.808 W001° 58.061*</a>,
dans notre belle région natale de l'*estuaire de Loire*.

<big>Bonne balade.</big>
            {%- endset -%}
            {{ text | richText }}
        </div>
    </article>
{% endblock %}
