{% set currentNav = 'home' %}

{% extends "layout.html.twig" %}

{% from "macros.twig" import add_linked_img %}

{% import "carto.twig" as carto %}


{% block stylesheets %}
    {{ carto.cssFiles() }}

    <style>
        #map { height: 220px; }
    </style>
{% endblock %}


{% block javascripts %}
    {{ carto.jsFiles() }}
    <script src="/js/app-base-home.js"></script>
{% endblock %}


{% block main %}
    <article itemscope itemtype="http://schema.org/Article">
        <h1 id="page-title">Bienvenue à tous !</h1>

        <div class="span4" style="margin-left: 0px;">
            <!-- Some pictures -->
            <div class="carousel slide">
                <div class="carousel-inner">
                    {% for i in 0..19 %}
                        <div class="item {{ loop.first ? 'active' }}" data-offset="{{ i }}">
                            {{ add_linked_img(
                                '/images/home/'~i~'.jpg',
                                'carousel', null, null,
                                '/images/home/thumb/'~i~'.jpg'
                            ) }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Map related to these pictures -->
            <div class="thumbnail">
                <div id="map"></div>
            </div>
        </div>

        <div class="span8" itemprop="articleBody">
            {%- set text -%}
<big>Nous sommes **Marie** et **Mathieu**, deux jeunes voyageurs.</big>

L'espace web dans lequel vous venez d'entrer est notre petit jardin numérique, presque secret.
Doucement, humblement, nous y faisons pousser quelques idées vagabondes -- certaines douces et sucrées, d'autres amères et épicées, et d'autres encore.
Nous y semons, aussi, nos expériences, émotions et souvenirs de voyages.

<big>Cet espace est en construction. Mais promenez-vous y et dénichez :</big>

* une petite présentation de [nozigues](/about) ;
* un dossier sur notre [voyage de 2011](/our-trips/3000-km-diagonal), notre premier périple au long-cours :
  3000 km en France, en kayak et à pied, durant 6 mois ;
* un autre sur notre prochain voyage <small>(départ septembre 2013)</small> :
  [**Afrikapié**](/our-trips/afrikapie) ;
* quelques photos et cartes, de-ci de-là ;
* et un [pigeon voyageur](/contact), pour nous contacter.

Actuellement, nous nous préparons ici :
<a id="current-place" href="#" data-toggle="modal">*N47° 18.808 W001° 58.061*</a>,
dans notre belle région natale de l'*estuaire de Loire*.

<big>Bonne balade.</big>
            {%- endset -%}
            {{ text | richText }}
        </div>
    </article>
{% endblock %}
