{% set currentNav = 'map' %}

{% extends "layout.html.twig" %}

{% import "carto.twig" as carto %}


{% block stylesheets %}
    {{ carto.cssFull() }}

    <style>
        #map
        {
            width: 100%;
            height: 600px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
        }

        /* Override a Leaflet CSS property */
        img.img-responsive { max-width: 100% !important; }

        .media-label {
            min-width: 0px;
            white-space: nowrap;
            z-index: 1000000000 !important;
        }

        .media-label img {
            max-width: 400px;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ carto.jsFull() }}
    <script src="{{ register_entries_js }}"></script>
    <script src="{{ media_elements_js }}"></script>
    <script src="/js/app-base-map.js"></script>
{% endblock %}


{% block main %}

<header class="clearfix">
    <h1 id="page-title" class="pull-left">{{ 'map.home'|trans }}</h1>

    <!-- Button for help modal -->
    <div class="actions-right">
        <a data-toggle="modal" href="#help-for-map">
            <i class="icon-info-sign"></i> {{ 'Help'|trans }}
        </a>
    </div>
</header>

{% include "base/map-help.html.twig" only %}

<div id="map"></div>

{% endblock %}
