{% from 'macros.twig' import cancel_link %}

{% from 'form.twig' import captcha, input, submit %}


<meta itemprop="interactionCount" content="UserComments:{{- article.countComments -}}">

{% if article.countComments > 0 %}
    <!-- Comments -->
    <h2>{{ 'Comments'|trans }}</h2>

    {% for id, comment in article.comments if comment is not null %}
        {% include 'comment/read.html.twig' with {url_comment: url_prefix ~'/'~ id} %}
    {% endfor %}
{% endif %}


{% if article.beCommented or comment.isUpdating %}

<!-- Create / update a comment -->
<h2 id="comment-post">
    {{ (comment.isCreation ? 'comment.create' : 'comment.updateX') | trans([comment.id]) | raw }}
</h2>

<form action="{{ url_prefix ~ (comment.isUpdating ? '/'~comment.id) }}" method="post" class="form-horizontal">

    <!-- Name or Nickname -->
    {{ input('text', comment.entity, comment.errors, 'comment', 'name', {required: true}) }}

    <!-- Text -->
    {{ input('textarea', comment.entity, comment.errors, 'comment', 'text', {
            help: true,
            required: true
    }) }}

    {% if comment.entity.captcha is defined %}
        {{ captcha(comment.entity.captcha, comment.errors.captcha | default) }}
    {% endif %}

    <!-- Form actions -->
    <div class="controls">
        {% if not comment.isFirstCreation %}
            {{ cancel_link(url_prefix) }}
        {% endif %}

        {{ submit('Post'|trans) }}
    </div>
</form>

{% endif %}
