{% from 'macros.twig' import cancel_link %}

{% from 'form.twig' import render_fields, submit %}


<meta itemprop="interactionCount" content="UserComments:{{- article.countComments -}}">

{% if article.countComments > 0 %}
    <!-- Comments -->
    <h2>{{ 'Comments'|trans }}</h2>

    {% for id, comment in article.comments if comment is not null %}
        {% include 'comment/read.html.twig' with {url_comment: url_prefix ~'/'~ id} %}
    {% endfor %}
{% endif %}


{% if article.beCommented or comment.isUpdating %}

<!-- Create / update a comment -->
<h2 id="post-comment">
    {{ (comment.isCreation ? 'comment.create' : 'comment.updateX') | trans([comment.id]) | raw }}
</h2>

<form action="{{ url_prefix ~ (comment.isUpdating ? '/'~comment.id) }}" method="post" class="form-horizontal">

    {% set fields = [
        {name: 'name'},
        {name: 'text', type: 'textarea', help: true} ] %}

    {% if comment.entity.captcha is defined %}
        {% set fields = fields | merge([{type: 'captcha'}]) %}
    {% endif %}

    {{ render_fields(comment.entity, comment.errors, 'comment', {required: true}, fields) }}

    <!-- Form actions -->
    <div class="col-md-offset-3">
        {% if not comment.isFirstCreation %}
            {{ cancel_link(url_prefix) }}
        {% endif %}

        {{ submit('Post'|trans) }}
    </div>
</form>

{% endif %}
