<!-- Name or Nickname -->
<div class="control-group {{ errors.name is defined ? 'error' }}">
    <label class="control-label" for="name">{{ 'comment.field.name'|trans }}</label>

    <div class="controls">
        <input type="text" id="name" name="name" class="input-xlarge" value="{{ comment.name }}" required />

        {% if errors.name is defined %}
            <span class="help-block text-error">{{ errors.name }}</span>
        {% endif %}
    </div>
</div>

<!-- Text -->
<div class="control-group {{ errors.text is defined ? 'error' }}">
    <label class="control-label" for="text">{{ 'comment.field.text'|trans }}</label>

    <div class="controls">
        <textarea id="text" name="text" class="input-xxlarge" rows="8" required>
            {{- comment.text -}}
        </textarea>

        {% if errors.text is defined %}
            <span class="help-block text-error">{{ errors.text }}</span>
        {% endif %}
    </div>
</div>
