<div id="comment-{{ id }}" class="comment" itemscope itemtype="http://schema.org/Comment">

    <header>
        <time itemprop="datePublished" datetime="{{ comment.datetime }}" class="clearfix">
            <strong>{{ comment.datetime | localizeddate('medium', 'none') }} </strong><br>
            <em>    {{ comment.datetime | localizeddate('none'  , 'short') }}</em>
        </time>

        {# Actions on comment #}
        {% if is_granted('ROLE_ADMIN') %}
        <div class="actions-right">

            <!-- Update -->
            <a href="{{ url_comment }}#comment-post" title="{{ 'Update'|trans }}">
                <i class="fa fa-pencil"></i></a>

            <!-- Delete -->
            <form action="{{ url_comment }}" method="post">
                <input type="hidden" name="_method" value="DELETE">

                <button class="comment-delete btn-link" type="submit" title="{{ 'Delete'|trans }}">
                    <i class="fa fa-trash-o"></i>
                </button>
            </form>

        </div>
        {% endif %}
    </header>


    <blockquote itemprop="text">

        <small>
            <span style="margin-right: 3px;">#{{ id }}</span>
            {{ 'Posted by'|trans }}
            <b itemprop="author">{{ comment.name }}</b>
        </small>

        {{ comment.text | nl2br }} {#| autolink }}#}

    </blockquote>

</div>
