<div class="comment" itemscope itemtype="http://schema.org/Comment">

    <header>
        <time itemprop="datePublished" datetime="{{ comment.datetime }}">
            <strong>{{ comment.datetime | localizeddate('medium', 'none') }} </strong><br/>
            <em>    {{ comment.datetime | localizeddate('none'  , 'short') }}</em>
        </time>

        {# Actions on comment #}
        {% if is_granted('ROLE_ADMIN') %}
        <div class="actions-right">

            <!-- Delete -->
            <form action="{{ url_comment }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />

                <button type="submit" class="btn-link" title="{{ 'Delete'|trans }}">
                    <i class="icon-trash"></i>
                </button>
            </form>

            <!-- Update -->
            <a href="{{ url_comment }}" title="{{ 'Update'|trans }}">
                <i class="icon-pencil"></i></a>

        </div>
        {% endif %}
    </header>


    <blockquote itemprop="text">

        <small>
            {{ 'Posted by'|trans }}
            <b itemprop="author">{{ comment.name }}</b>
        </small>

        {{ comment.text | nl2br }} {# TODO : transform link #}

    </blockquote>

</div>
