{% if articles|length > 0 %}
{# TODO: add RDFa schema.org? #}
<ul class="mini-list">
    {% for article in articles %}
        <li>
            <time>
                {{ article.pubDatetime | date('d') }}
                {{ article.pubDatetime | date('F') | trans | lower }}
            </time>

            <a href="/blog/{{ article.slug }}/read">{{ article.title }}</a>

            {# Number of comments + link to read them #}
            {% if article.countComments > 0 %}
                <a href="/blog/{{ article.slug }}/read#comments"
                   title="{{ 'comment.count' | trans([article.countComments]) }}"
                   class="about-comments"
                >
                    <i class="fa fa-comments-o"></i> {{ article.countComments }}
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}
