{% set currentNav = 'about' %}

{% extends "layout.html.twig" %}

{% from "macros.twig" import tags_box, linked_img %}

{% set tagsBothMiddle = (tagsBoth | length) // 2 %}

{% set i = random(2) %} {# What set of images? #}

{% block main %}
<article vocab="http://schema.org/" typeof="Article">

    <header>
        <h1>{{ pageTitle }}</h1>
    </header>

    <section property="articleBody">
        <h2>{{ aboutUsTitle }}</h2>

        <div class="row">
            {{ tags_box(tagsMathieu, {class: 'col-md-4 first', special: 'Mathieu'}) }}

            <div class="col-md-4">
                {{ linked_img('/images/ourselves', 'freepius-'~i~'.jpg', {class: 'col-xs-6'}) }}
                {{ linked_img('/images/ourselves', 'manalee-'~i~'.jpg',  {class: 'col-xs-6'}) }}
            </div>

            {{ tags_box(tagsMarie, {class: 'col-md-4 second', special: 'Marie'}) }}
        </div>

        <div class="our-names">Mathieu & Marie</div>

        <div class="row mathieu-and-marie">
            {{ tags_box(tagsBoth[0:tagsBothMiddle], {class: 'col-md-4 first'}) }}

            {{ linked_img('/images/ourselves', 'together-'~i~'.jpg', {class: 'col-md-4'}) }}

            {{ tags_box(tagsBoth[tagsBothMiddle:], {class: 'col-md-4 second'}) }}
        </div>

        <h2>anarchos semitas</h2>

        <div class="text-center">
            <img src="/images/base/roots.png" class="img-responsive">
        </div>

        {{ tags_box(tagsAnarchosSemitas, {class: 'text-muted'}) }}

        {{ mainText | richtext }}

        <div class="text-center">
            <img src="/images/base/fresco.png" class="img-responsive">
        </div>
    </section>

</article>
{% endblock %}
