{% set tab = 'general' %}

{% extends "article/post.html.twig" %}

{% from "form.twig" import input, list_errors, submit, textarea_with_preview %}


{% block stylesheets %}

    <style>
        #summary { height: 100px; }
        #text    { height: 200px; }
        #summary, #text, .preview { max-height: 600px; }
    </style>

{% endblock %}


{% block javascripts %}

    <script src="/js/jquery.elastic.source.js"></script>
    <script src="/js/app-blog-post.js"></script>

{% endblock %}


{% block post %}

    {{ list_errors(errors, 'blog') }}

    <form action="{{ form_action }}" method="post" class="form-horizontal">

        <!-- Title -->
        {{ input('text', article, errors, 'blog', 'title', {required: true}) }}

        <!-- Slug -->
        {{ input('text', article, errors, 'blog', 'slug',
            {error_inline: true, help: true, required: true}
        ) }}

        <!-- Publication DateTime -->
        {{ input('text', article, errors, 'blog', 'pubDatetime',
            {error_inline: true, help: true, required: true, size: ''}
        ) }}

        <!-- Is it published ? -->
        {{ input('checkbox', article, [], 'blog', 'isPublished', {help: true, help_inline: true}) }}

        <!-- Can be commented ? -->
        {{ input('checkbox', article, [], 'blog', 'beCommented', {help: true, help_inline: true}) }}

        <!-- Tags -->
        {% set tags = {tags: article.tags |  join(', ')} %}
        {{ input('text', tags, errors, 'blog', 'tags', {help: true, size: 'input-xxlarge'}) }}

        {# Text and Summary #}
        {{ textarea_with_preview(article, errors, 'blog', 'text') }}
        {{ textarea_with_preview(article, errors, 'blog', 'summary') }}

        {{ submit() }}
    </form>

{% endblock %}
