{% set tab = 'general' %}

{% extends "article/post.html.twig" %}

{% from "macros.twig" import submit %}


{% block stylesheets %}

    <style type="text/css">
        #summary { height: 100px; }
        #text    { height: 200px; }
        #summary, #text, .preview { max-height: 600px; }
    </style>

{% endblock %}


{% block javascripts %}

    <script type="text/javascript" src="/js/jquery.elastic.source.js"></script>
    <script type="text/javascript" src="/js/blog-post.js"></script>

{% endblock %}


{% block post %}

    {% if errors %}
        <!-- Errors in the article posting -->
        <p class="alert alert-error">
            {% set fields_trans = [] %}

            {% for field in errors | keys %}
                {% set fields_trans = fields_trans | merge([('blog.field.'~field) | trans]) %}
            {% endfor %}

            {{ 'Error(s)' | trans([errors|length, fields_trans|join(', ')]) | raw }}
        </p>
    {% endif %}


    <form action="{{ form_action }}" method="post" class="form-horizontal">

        <!-- Title -->
        <div class="control-group {{ errors.title is defined ? 'error' }}">
            <label class="control-label" for="title">{{ 'blog.field.title'|trans }}</label>
            <div class="controls">
                <input type="text" id="title" name="title" class="input-xlarge" value="{{ article.title }}" required />

                {% if errors.title is defined %}
                    <span class="help-block text-error">{{ errors.title }}</span>
                {% endif %}
            </div>
        </div>

        <!-- Slug -->
        <div class="control-group {{ errors.slug is defined ? 'error' }}">
            <label class="control-label" for="slug">{{ 'blog.field.slug'|trans }}</label>
            <div class="controls">
                <input type="text" id="slug" name="slug" class="input-xlarge" value="{{ article.slug }}" required />

                {% if errors.slug is defined %}
                    <span class="help-inline text-error">{{ errors.slug }}</span>
                {% endif %}

                <span class="help-bloc">{{ 'blog.help.slug' | trans | raw }}</span>
            </div>
        </div>

        <!-- Publication DateTime -->
        <div class="control-group {{ errors.pubDatetime is defined ? 'error' }}">
            <label class="control-label" for="pubDatetime">{{ 'blog.field.pubDatetime'|trans }}</label>
            <div class="controls">
                <input type="text" id="pubDatetime" name="pubDatetime" value="{{ article.pubDatetime }}" required />

                {% if errors.pubDatetime is defined %}
                    <span class="help-inline text-error">{{ errors.pubDatetime }}</span>
                {% endif %}

                <span class="help-block">{{ 'blog.help.pubDatetime' | trans | raw }}</span>
            </div>
        </div>

        <!-- Is it published ? -->
        <div class="control-group">
            <label class="control-label" for="isPublished">{{ 'blog.field.isPublished'|trans }}</label>
            <div class="controls">
                <input type="checkbox" id="isPublished" name="isPublished" {{ article.isPublished ? 'checked="checked"' }} />
                <span class="help-inline">{{ 'blog.help.isPublished' | trans | raw }}</span>
            </div>
        </div>

        <!-- Can be commented ? -->
        <div class="control-group">
            <label class="control-label" for="beCommented">{{ 'blog.field.beCommented' | trans | raw }}</label>
            <div class="controls">
                <input type="checkbox" id="beCommented" name="beCommented" {{ article.beCommented ? 'checked="checked"' }} />
                <span class="help-inline">{{ 'blog.help.beCommented' | trans | raw }}</span>
            </div>
        </div>

        <!-- Tags -->
        <div class="control-group {{ errors.tags is defined ? 'error' }}">
            <label class="control-label" for="tags">{{ 'blog.field.tags'|trans }}</label>
            <div class="controls">
                <input type="text" id="tags" name="tags" class="input-xxlarge" value="{{- article.tags |  join(', ') -}}">
                <span class="help-block">{{ 'blog.help.tags' | trans | raw }}</span>
            </div>
        </div>

        {# Text and Summary #}
        {% embed "article/edit-text-field.html.twig" with {field: 'text'   } %}{% endembed %}
        {% embed "article/edit-text-field.html.twig" with {field: 'summary'} %}{% endembed %}

        {{ submit() }}
    </form>

{% endblock %}
