{% set currentNav = 'our-travels' %}

{% extends "layout.html.twig" %}

{% from "macros.twig" import tags_box %}

{% block main %}
<article vocab="http://schema.org/" typeof="Article">

    <header>
        <h1>Afrikapié</h1>
    </header>

    <section property="articleBody" class="col-md-8">
        {{ text | richtext }}
    </section>

    <aside class="col-md-4">
        <div class="box">
            <h1>{{ 'Tags'|trans }}</h1>
            {{ tags_box(tags) }}
        </div>

        <div class="box">
            <h1>{{ 'The figures'|trans }}</h1>
            {{ tags_box(theFigures, {shuffle: false, style: 'unstyled'}) }}
        </div>
    </aside>

</article>
{% endblock %}
