{% set currentNav = 'our-trips' %}

{% extends "layout.html.twig" %}

{% from "macros.twig" import tags_box %}

{% import "carto.twig" as carto %}

{% set tags = [
    [4, '2011'],
    [4, '3000 km'],
    [4, '6 mois'],
    [3, 'Bivouac'],
    [2, 'Déambulation'],
    [2, 'Diagonale'],
    [3, 'Kayak'],
    [3, 'Loire'],
    [2, 'Long cours'],
    [3, 'Marche'],
    [3, 'Nantes - Nice'],
    [2, 'Nature'],
    [2, 'Précarité'],
    [1, 'Alpilles'],
    [1, 'Auvergne'],
    [1, 'Brenne'],
    [1, 'Camargue'],
    [1, 'Cévennes'],
    [1, 'Creuse'],
    [1, 'Lubéron'],
    [1, 'Touraine'],
    [1, 'Verdon'],
] %}

{% set theNumbers = [
    [4, '168 jours'],
    [4, '1846 km à pieds'],
    [4, '857 km en kayak'],
    [4, '149 bivouacs'],
    [3, '102 jours de beau temps'],
    [3, '19 jours de pluie'],
    [3, '6 gros orages'],
    [3, '19 sommets grimpés'],
    [3, '18 belles rencontres animales'],
    [3, '11 bibliothèques visitées'],
    [3, '7 frayeurs'],
    [2, '20 rencontres humaines fortes'],
    [2, '14 journées très chaudes'],
    [2, '3 bonnes engueulades'],
    [2, '6 espèces invasives'],
    [2, '13 bonnes baignades'],
    [2, '523 photos'],
    [2, '24 restos'],
    [1, '200 km motorisés'],
    [1, '7 jours consécutifs de pluie'],
    [1, '35 jours de repos'],
    [1, '5 gros n\'importe quoi'],
    [1, '2 feux d\'artifice'],
] %}


{% block stylesheets %}
    {{ carto.cssFiles() }}

    <style>
        #map { height: 300px; }
    </style>
{% endblock %}


{% block javascripts %}
    {{ carto.jsFiles() }}

    <script>
        {% include "base/our-trips/3000-km-diagonal.carto.js" %}

        $(document).ready(function() {

            var map       = $.carto.addMap('map'),
                downLoire = L.polyline(downLoire_points, {color: 'blue'}).bindPopup('Descente de Loire'),
                longWalk  = L.polyline(longWalk_points,  {color: 'green'}).bindPopup('Grande marche'),
                group     = L.featureGroup([downLoire, longWalk]);

            group.setStyle({weight: 10}).addTo(map);
            map.fitBounds(group.getBounds(), {reset: true});

        });
    </script>
{% endblock %}


{% block main %}
    <article itemscope itemtype="http://schema.org/Article" class="col-8">

        <!-- Breadcrumb + title -->
        <header>
            <nav><a href="/our-trips">{{ 'nav.our-trips'|trans }}</a> »</nav>
            <h1 id="page-title">3000 km en diagonale</h1>
        </header>


        <div itemprop="articleBody">
            {%- set text -%}
## Présentation

*"3000 km en diagonale"* c'est notre voyage initiatique. Réalisé en 2011, d'avril à octobre, il nous a fait parcourir
des bouts de France, du Sud-Est au Nord-Ouest, aller-retour.

Durant deux mois, nous avons descendu le plus long fleuve de France, de la source à l'océan :
les 120 premiers kilomètres à pieds, à travers les monts d'Ardèche ;
les 900 suivants en kayak, jusque dans la vase des marais de l'estuaire de Loire.  
Ce fut notre <b>"Descente de Loire"</b>.

Aussitôt rentrés au port, nous avons chaussé nos godillots terreux et repris la route, pour quatre mois.
Initialement, nous voulions rejoindre les *chemins de Saint-Jacques-de-Compostelle* et les parcourir jusqu'à leur terme : le cap Finisterre en Espagne.
Mais la vie de vagabonds dépouillés, enfouis en pleine nature, et la claque des rencontres ont dévié notre azimut.
Finalement, nous sommes restés sur les sentiers français et avons rejoint Nantes à Nice, en 1700 km.  
Ce fut notre <b>"Grande marche"</b>.

De cette première expérience au long cours, brute et précaire, nature et surprenante, formatrice et joyeuse,
passée en pensées et rêveries, découvertes et coups de gueule, observations et analyses,
nous en avons tiré un ouvrage, petit condensé anarchique de tout ceci et de bien plus encore.  
Cet ouvrage pèse une centaine de pages <!-- TODO : XX pages --> et, plus que gratuit, il est libre !  
<b>Il sera disponible prochainement.</b>
            {%- endset -%}
            {{ text | richText }}
        </div>
    </article>

    <aside class="col-4">
        <!-- Map -->
        <div id="map" class="box"></div>

        <!-- Tags -->
        <div class="box">
            <h1>Mots-clés</h1>
            {{ tags_box(tags) }}
        </div>

        <!-- The numbers -->
        <div class="box">
            <h1>Les chiffres</h1>
            {{ tags_box(theNumbers, {shuffle: false, style: 'unstyled'}) }}
        </div>
    </aside>
{% endblock %}
