{% set currentNav = 'our-travels' %}

{% extends "layout.html.twig" %}

{% from "macros.twig" import tags_box %}

{% import "carto.twig" as carto %}


{% block stylesheets %}
    {{ carto.cssBase() }}

    <style>
        #map { height: 300px; }

        .leaflet-label
        {
            min-width: 0px;
            white-space: nowrap;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ carto.jsBase() }}

    <script>
        {% include "base/our-travels/3000-km-diagonal/geo-coords.js" %}

        var downLoire = L.polyline(downLoire_points, {color: 'blue'})
            .bindLabel('Descente de Loire'),

            longWalk = L.polyline(longWalk_points,  {color: 'green'})
                .bindLabel('Grande marche'),

            group = L.featureGroup([downLoire, longWalk])
                .setStyle({weight: 10});

        asCarto.addMap('map')
            .addLayer(group)
            .fitBounds(group.getBounds(), {reset: true});
    </script>
{% endblock %}


{% block main %}
<article vocab="http://schema.org/" typeof="Article">

    <header>
        <h1>{{ pageTitle | trans }}</h1>
    </header>

    <section property="articleBody" class="col-md-8">
        {{ text | richtext }}
    </section>

    <aside class="col-md-4">
        {% include "base/our-travels/3000-km-diagonal/book-pub.html.twig" only %}

        <div id="map" class="box"></div>

        <div class="box">
            <h1>{{ 'Tags'|trans }}</h1>
            {{ tags_box(tags) }}
        </div>

        <div class="box">
            <h1>{{ 'The figures'|trans }}</h1>
            {{ tags_box(theFigures, {shuffle: false, style: 'unstyled'}) }}
        </div>
    </aside>

</article>
{% endblock %}
