{##
 # Summary :
 #  -> cssBase
 #  -> jsBase
 #  -> cssFull
 #  -> jsFull
 #}


{% macro cssBase() %}
    {% if app.debug %}
        <link rel="stylesheet" href="/vendor/leaflet/leaflet.css">
    {% else %}
        <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css">
    {% endif %}

    <link rel="stylesheet" href="/vendor/leaflet/plugins/awesome/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="/vendor/leaflet/plugins/label/leaflet.label.css">
    <link rel="stylesheet" href="/vendor/leaflet/plugins/pancontrol/L.Control.Pan.css" />
    <link rel="stylesheet" href="/vendor/leaflet/plugins/zoomslider/L.Control.Zoomslider.css" />

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/vendor/leaflet/plugins/pancontrol/L.Control.Pan.ie.css" />
    <![endif]-->
{% endmacro %}


{% macro jsBase() %}
    <script>
        window.bingMapsAPIKey = "{{- app['register.config']['bing_maps_api_key'] -}}";
    </script>

    {% if app.debug %}
        <script src="/vendor/leaflet/leaflet-src.js"></script>
        <script src="/vendor/leaflet/plugins/awesome/leaflet.awesome-markers.js"></script>
        <script src="/vendor/leaflet/plugins/label/leaflet.label-src.js"></script>
    {% else %}
        <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <script src="/vendor/leaflet/plugins/awesome/leaflet.awesome-markers.min.js"></script>
        <script src="/vendor/leaflet/plugins/label/leaflet.label.js"></script>
    {% endif %}

    <script src="/vendor/leaflet/plugins/leaflet.tile-layer.bing.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

    <script src="/vendor/leaflet/plugins/pancontrol/L.Control.Pan.js"></script>
    <script src="/vendor/leaflet/plugins/zoomslider/L.Control.Zoomslider.js"></script>

    <script src="/js/app-carto.js"></script>
{% endmacro %}


{% macro cssFull() %}
    {{ _self.cssBase() }}

    <link rel="stylesheet" href="/vendor/leaflet/plugins/markercluster/MarkerCluster.css" />
    <link rel="stylesheet" href="/vendor/leaflet/plugins/markercluster/MarkerCluster.Default.css" />
{% endmacro %}


{% macro jsFull() %}
    {{ _self.jsBase() }}

    <script src="/vendor/leaflet/plugins/oms.min.js"></script>
    <script src="/vendor/leaflet/plugins/markercluster/leaflet.markercluster-src.js"></script>
    <script>
        function getClusterLabel(markers)
        {
            var label = '<p>' + markers[0].getLabel()._content + '</p>' +
                        '<p>' + markers[1].getLabel()._content + '</p>';

            if (markers.length === 3) {
                label += '<p>' + markers[2].getLabel()._content + '</p>';
            }

            if (markers.length > 3) {
                label += '{{ "map.clusterLabel.other"|trans }}<br>';
            }

            label += '<small>' +
                        '<i class="fa fa-caret-right"></i> '  +
                        '{{ "map.clusterLabel.all"|trans }}' +
                     '</small>';

            return label.replace('OTHER_L', markers.length - 2)
                        .replace('TOTAL_L', markers.length);
        }
    </script>
{% endmacro %}
