{% from _self import add_lang, add_nav %}


{% macro add_lang(lang, current) %}
{% spaceless %}
    <a href="{{ '/switch-locale/' ~ lang }}" {{ lang == current ? 'class="active"' }}>
        {{- lang -}}
    </a>
{% endspaceless %}
{% endmacro %}


{% macro add_nav(nav, current) %}
{% spaceless %}
    <li>
        <a href="{{ '/' ~ nav }}" {{ nav == current ? 'class="active"' }}>
            {{- ('nav.'~nav)|trans -}}
        </a>
    </li>
{% endspaceless %}
{% endmacro %}

<header>
    <a href="/home" id="logo">
        <img src="/images/logo.png"       class="visible-md visible-lg">
        <img src="/images/logo-small.png" class="visible-xs visible-sm">
    </a>

    <nav id="nav-lang">
        lang. :
        {{ add_lang('fr', app.locale) }}
        {{ add_lang('en', app.locale) }}
    </nav>

    <nav id="nav-main" role="navigation">
        <ul>
            {% for i in
               ['home', 'about', 'blog', 'map', 'media', 'our-travels', 'contact']
            %}
                {{ add_nav(i, currentNav) }}
            {% endfor %}
        </ul>
    </nav>
</header>
