{% from _self import add_lang, add_nav %}


{% macro add_lang(lang, currentLang) %}
{% spaceless %}
    <li {{ lang == currentLang ? 'class="active"' }}>
        <a href="{{ '/switch-locale/' ~ lang }}">
            <img src="/images/{{- lang -}}.gif" alt="{{ ('lang.'~lang)|trans }}">
        </a>
    </li>
{% endspaceless %}
{% endmacro %}


{% macro add_nav(nav, currentNav) %}
{% spaceless %}
    <li {{ nav == currentNav ? 'class="active"' }}>
        <a href="{{ '/' ~ nav }}">{{ ('nav.'~nav)|trans }}</a>
    </li>
{% endspaceless %}
{% endmacro %}


<header id="header">
    <a href="/home">
        <img id="logo" src="/images/logo.png" alt="Logo of anarchos semitas">
    </a>

    <section id="navigation">
        <nav id="nav-lang">
            <ul class="list-inline">
                {{ add_lang('fr', app.locale) }}
                {{ add_lang('en', app.locale) }}
            </ul>
        </nav>

        <nav id="nav-main">
            <ul class="nav nav-pills">
                {{ add_nav('home'       , currentNav) }}
                {{ add_nav('about'      , currentNav) }}
                {{ add_nav('contact'    , currentNav) }}
                {{ add_nav('our-travels', currentNav) }}
                {{ add_nav('blog'       , currentNav) }}
                {{ add_nav('media'      , currentNav) }}
            </ul>
        </nav>
    </section>

    <div class="notification">
        {% block headerNotification %}

            <strong>
                {{ 'Current travel'|trans }}
                &nbsp;<i class="icon-double-angle-right"></i>&nbsp;
                <a href="/our-travels/afrikapie" class="special">Afrikapié</a>
            </strong>

        {% endblock %}
    </div>
</header>
