{% from _self import add_lang, add_nav %}


{% macro add_lang(lang, currentLang) %}
{% spaceless %}
    <li {{ lang == currentLang ? 'class="active"' }}>
        <a href="{{ '/switch-locale/' ~ lang }}">
            <img src="/images/{{- lang -}}.gif" alt="{{ ('lang.'~lang)|trans }}">
        </a>
    </li>
{% endspaceless %}
{% endmacro %}


{% macro add_nav(nav, currentNav) %}
{% spaceless %}
    <li {{ nav == currentNav ? 'class="active"' }}>
        <a href="{{ '/' ~ nav }}">{{ ('nav.'~nav)|trans }}</a>
    </li>
{% endspaceless %}
{% endmacro %}


<header id="header">
    <img id="logo" src="/images/logo.png" alt="Logo of anarchos semitas">

    <section id="navigation">
        <nav id="nav-lang">
            <ul class="inline">
                {{ add_lang('fr', app.locale) }}
                {{ add_lang('en', app.locale) }}
            </ul>
        </nav>

        <nav id="nav-main">
            <ul class="nav nav-pills">
                {{ add_nav('home'     , currentNav) }}
                {{ add_nav('about'    , currentNav) }}
                {{ add_nav('contact'  , currentNav) }}
                {{ add_nav('our-trips', currentNav) }}
            </ul>
        </nav>

        <nav id="nav-roadbook">
            <b>{{ 'nav.roadbook'|trans }}</b>
            <ul class="nav nav-pills">
                {{ add_nav('blog'   , currentNav) }}
                {{ add_nav('gallery', currentNav) }}
                {{ add_nav('map'    , currentNav) }}
            </ul>
        </nav>
    </section>

    <div class="notification">
        {% block headerNotification %}
            Your notification here.
        {% endblock %}
    </div>
</header>
