{##
 # Summary :
 #  -> add_linked_img
 #  -> bool2icon
 #  -> cancel
 #  -> cancel_link
 #  -> tags_box
 #}


{##
 # Add an image (in a bootstrap style)
 # which can be open in a lightbox2 box under the `group` (if specified).
 #}
{% macro add_linked_img(img, group, caption, classes, thumb) %}
{% spaceless %}
    <a href="{{ img }}" class="thumbnail {{ classes|default }}"
       rel="lightbox{{- group|default ? '['~group~']' -}}"
       {{ caption|default ? 'title="'~caption~'"' }}>

        <img src="{{ thumb|default ?: img  }}">
    </a>
{% endspaceless %}
{% endmacro %}


{##
 # Display a boolean value as an icon + a hidden text ('Yes' or 'No').
 #}
{% macro bool2icon(value) %}
{% spaceless %}

    {% if value %}
        <i class="icon-ok" title="{{ 'Yes'|trans }}">
            <span class="hide">{{ 'Yes'|trans }}</span>
        </i>
    {% else %}
        <i class="icon-remove" title="{{ 'No'|trans }}">
            <span class="hide">{{ 'No'|trans }}</span>
        </i>
    {% endif %}

{% endspaceless %}
{% endmacro %}


{##
 # A form to cancel anything : more secure than a link
 # (eg: prevents open the target in a new browser tab).
 #}
{% macro cancel(action, text, classes) %}
{% spaceless %}

    {% set text    = text    | default('Cancel'|trans) %}
    {% set classes = classes | default('btn btn-warning') %}

    <!-- Cancel button -->
    <form name="cancel" action="{{ action }}" method="get">
        <button type="submit" class="{{ classes }}">
            <i class="icon-remove icon-white"></i> {{ text }}
        </button>
    </form>

{% endspaceless %}
{% endmacro %}


{##
 # A link stylized as a cancel button.
 #}
{% macro cancel_link(action, text, classes) %}
{% spaceless %}

    {% set text    = text    | default('Cancel'|trans) %}
    {% set classes = classes | default('btn btn-warning') %}

    <!-- Cancel link -->
    <a href="{{ action }}" class="{{ classes }}">
        <i class="icon-remove icon-white"></i> {{ text }}
    </a>

{% endspaceless %}
{% endmacro %}


{##
 # Display a tags box where :
 #  -> tags are sized depending on their weight ;
 #  -> tags are shuffled ;
 #  -> a special tag is inserted in the middle (if specified).
 #
 # "tags" = [weight (1 to 5), tag]+
 #    eg  : [[1, 'Nature'], [1, 'Earth'], [3, 'Green']]
 #}
{% macro tags_box(tags, special, classes) %}
    {% set tags = tags | shuffle %}

    {% if special | default %}
        {# Insert the special tag in the middle, with the bigger size #}
        {% set middle = (tags | length) // 2 %}
        {% set tags = tags[0:middle] | merge([[5, special]]) | merge(tags[middle:]) %}
    {% endif %}

    <ul class="inline tags-box {{ classes | default }}">
        {% for tag in tags %}
            <li class="size-{{ tag[0] }}">{{ tag[1] }}</li>
        {% endfor %}
    </ul>
{% endmacro %}
