{##
 # Summary :
 #  -> media_img
 #  -> media_render
 #  -> media_technical
 #  -> media_caption
 #  -> media_meta
 #  -> media_public_actions
 #  -> switch_view_btns
 #}


{##
 # A "linked image" for the Media module.
 #}
{% macro media_img(img, options) %}

    {% from 'macros.twig' import linked_img %}

    {{ linked_img(
        '/media/web', img,
        options | default({}) | merge({thumb: '/media/thumb'})
    ) }}
{% endmacro %}


{##
 # Render the media element
 # (the content ; not its technical info, caption or metadata).
 #}
{% macro media_render(e, options) %}
{% spaceless %}

    {% from 'macros.twig' import audio %}

    {% if e.mainType == 'image' %}

        {{ _self.media_img(
            e.content,
            options | default({}) | merge({caption: e.caption})
        ) }}

    {% elseif e.mainType == 'audio' %}

        {{ audio('/media', e.content) }}

    {% endif %}

{% endspaceless %}
{% endmacro %}


{##
 # Display technical info (original name, size, type...).
 #}
{% macro media_technical(e, sep) %}

    {% from 'macros.twig' import format_file_size %}

    {% set sep = sep | default('<br>') %}

    <b property="name">{{ e.originalName }}</b>
    <br>
    {{ e.mainType }}/<span property="encodingFormat">{{ e.subType }}</span>
    {{ sep | raw }}
    <span property="contentSize">{{ format_file_size(e.size) }}</span>

    {% if e.mainType == 'image' %}
        {{ sep | raw }}
        <span property="width">{{ e.width }}</span>
        {{- 'x' -}}
        <span property="height">{{ e.height }}</span>
    {% endif %}

{% endmacro %}


{##
 # Display caption (if not empty).
 #}
{% macro media_caption(caption) %}

    {% if caption %}
        <p class="caption">
            <i class="fa fa-leaf" title="{{ 'media.caption'|trans }}"></i>
            <em property="description">{{ caption | raw }}</em>
        </p>
    {% endif %}

{% endmacro %}


{##
 # Display metadata (if not empty) : creation date, geo coords and tags.
 #}
{% macro media_meta(e) %}

{% if e.creationDate or e.geoCoords or e.tags %}
<p class="meta">

    {% if e.creationDate %}
        <i class="fa fa-calendar" title="{{ 'media.creationDate'|trans }}"></i>
        <time property="dateCreated" datetime="{{ e.creationDate }}">
            {{ e.creationDate | localizeddate('medium', 'none') }}
            {{ 'at'|trans }}
            {{ e.creationDate | localizeddate('none', 'short') }}
        </time>
        <br>
    {% endif %}

    {% if e.geoCoords %}
        <i class="fa fa-globe" title="{{ 'media.geoCoords'|trans }}"></i>
        <span property="contentLocation">{{ e.geoCoords }}</span>
        <br>
    {% endif %}

    {% if e.tags %}
        <i class="fa fa-tags" title="{{ 'media.tags'|trans }}"></i>
        <small property="keywords">
            {% for tag in e.tags %}
                <span class="label label-default">{{ tag }}</span>
            {% endfor %}
        </small>
    {% endif %}

</p>
{% endif %}

{% endmacro %}


{##
 # Propose various public actions for a given media :
 #  -> a link to the original file
 #}
{% macro media_public_actions(e) %}

    <div class="public-actions">
        <!-- Original file -->
        <a href="/media/{{ e.content }}" title="{{ 'media.seeOriginal'|trans }}">
            <i class="fa fa-external-link"></i>
        </a>
    </div>

{% endmacro %}


{##
 # Display the 3 buttons to switch view.
 #}
{% macro switch_view_btns() %}

<div class="btn-group" data-toggle="buttons">
    <label id="view-short" title="{{ 'media.view-short'|trans }}" class="btn btn-default">
        <input type="radio">
        <i class="fa fa-th"></i>
    </label>

    <label id="view-medium" title="{{ 'media.view-medium'|trans }}" class="btn btn-default">
        <input type="radio">
        <i class="fa fa-th-large"></i>
    </label>

    <label id="view-full" title="{{ 'media.view-full'|trans }}" class="btn btn-default">
        <input type="radio">
        <i class="fa fa-th-list"></i>
    </label>
</div>

{% endmacro %}
