{% from "macros.twig" import indent %}

{% if app.locale == 'fr' %}

    Vous pouvez associer à chaque <em>élément média</em> :
    <ul>
        <li>une <b>légende</b> : 100 caractères maximum</li>
        <li>
            <i class="icon-calendar"></i>
            une <b>date de création</b> au format <nobr>« AAAA-MM-JJ hh:mm:ss »</nobr>
            {{ indent('ex : 2013-05-28 12:42:03') }}
        </li>
        <li>
            <i class="icon-globe"></i>
            des <b>coordonées géographiques</b> au format <nobr>« Latitude , Longitude »</nobr>,
            exprimées en <em>degrés décimaux</em>
            {{ indent('ex : 46.242000 , -2.837461') }}
        </li>
        <li>
            <i class="icon-tags"></i>
            des <b>mots-clés</b> séparés par une virgule
            {{ indent('ex : Insecte, Marais, Nature') }}
        </li>
    </ul>

{% else %}

    You can associate to each <em>media element</em> :
    <ul>
        <li>a <b>caption</b> : 100 characters maximum</li>
        <li>
            <i class="icon-calendar"></i>
            a <b>creation date</b> in format <nobr>"YYYY-MM-DD hh:mm:ss"</nobr>
            {{ indent('eg: 2013-05-28 12:42:03') }}
        </li>
        <li>
            <i class="icon-map-marker"></i>
            <b>geographic coordinates</b> in format <nobr>"Latitude , Longitude"</nobr>,
            expressed in <em>decimal degrees</em>
            {{ indent('eg: 46.242000 , -2.837461') }}
        </li>
        <li>
            <i class="icon-tags"></i>
            some <b>tags</b> separated by a comma
            {{ indent('(eg: Family, Ney-York, Picnic)') }}
        </li>
    </ul>

{% endif %}
