{% from 'macros.twig' import format_file_size %}


<!-- Preview -->
<td style="text-align: center;">
    <i class="fa fa-ban fa-4x"></i>
</td>

<!-- Element info -->
<td>
    <b>{{ originalName }}</b><br>
    {{ mainType ~'/'~ subType }}<br>
    {{ format_file_size(size) }}
</td>

<!-- Print error  -->
<td colspan="2">
    <span class="label label-danger">{{ 'Error'|trans }}</span>
    {{ error }}
</td>

<!-- Actions -->
<td class="actions">
    <input type="checkbox" class="toggle">

    <button class="btn btn-danger delete" title="{{ 'Delete'|trans }}">
        <i class="fa fa-trash-o fa-inverse"></i>
    </button>
</td>
