<nav class="box">
    <h1 class="pull-left">{{ (module~'.elements') | trans  }}</h1>

    <!-- Elements counter -->
    <div class="lead text-muted pull-right">
        {{ countPrevious + 1 }} {{ 'to'|trans }}
        {{ countPrevious + count }} / {{ total }}
    </div>

    <!-- Navigation in elements -->

    {% set prefix = '/' ~ module ~ '/' %}

    {% set url  = '' %}

    {% set suffix = '' %}

    {# URL with only one filter #}
    {% if countFilters == 1 %}

        {# Common filter #}
        {% if tags %}
            {% set url = (countTags == 1 ? 'tag-' : 'tags-') ~ tags ~ '/' %}

        {% elseif year and not month %}
            {% set url = 'year-' ~ year ~ '/' %}

        {% elseif year and month %}
            {% set url = 'year-' ~ year ~ '/month-' ~ month ~ '/' %}

        {# Other filter #}
        {% else %}
            {% set suffix = '?' ~ (filters | url_encode) %}

        {% endif %}

    {# URL with several filters #}
    {% elseif countFilters > 1 %}
        {% set suffix = '?' ~ (filters | url_encode) %}

    {% endif %}

    <div class="lead" style="clear: both;">
        {% if page > 1 %}
            <a href="{{ prefix ~ url ~ (page-1) ~ suffix }}" class="pull-left">
                « {{ 'Younger'|trans }}
            </a>
        {% endif %}

        {% if page < totalPage %}
            <a href="{{ prefix ~ url ~ (page+1) ~ suffix }}" class="pull-right">
                {{ 'Older'|trans }} »
            </a>
        {% endif %}
    </div>
</nav>
