<!-- Filter by dates -->
<h2>{{ 'by date'|trans }}</h2>

<ul>
{% for year, countByMonth in countByYearMonth %}
    <li>
        <a href="{{ '/' ~ module ~ '/year-' ~ year }}">{{ year }}</a> ({{ countByMonth | sum }})

        <ul>
            {% for month, count in countByMonth %}
                <li>
                    <a href="{{ '/' ~ module ~ '/year-' ~ year ~ '/month-' ~ month }}">
                        {{ ('month.'~month) | trans }}
                    </a>
                    ({{ count }})
                </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
