{% if tags | length > 0 %}

    <h2>{{ 'by tag'|trans }}</h2>

    <!-- Filter by one tag -->
    <ul class="tags-box list-inline text-center">
        {% for tag, weight in tags %}

            {% set size = 90 + weight.1 * weight.1 * 0.05 %}
            {% set size = size | number_format(0) %}
            {% set size = size > 200 ? 200 : size %}

            <li style="font-size: {{ size }}%;">
                <a href="{{ '/' ~ module ~ '/tag-' ~ tag }}">{{ tag }}</a>
            </li>

        {% endfor %}
    </ul>

    <!-- Filter by multiple tags -->
    <form action="/{{ module }}" method="GET"
        class="input-group input-group-sm" style="margin-bottom: 30px;"
    >
        <input type="text" name="tags" class="form-control" placeholder="{{ 'placeholder.tags'|trans }}">

        <span class="input-group-btn">
            <button type="submit" class="btn btn-link" title="{{ 'Run search'|trans }}">
                <i class="icon-search"></i>
            </button>
        </span>
    </form>

{% endif %}
