{% from "macros.twig" import indent %}


<h1 class="pull-left">
    <span id="page-title">{{ (module~'.home') | trans }}</span>

    {% if countFilters > 0 %}
        <!-- Filter used -->
        {% if tags %}
            {{ indent('filter.tags' | transchoice(countTags, [tags])) }}
        {% endif %}

        {% if year and not month %}
            {{ indent('filter.year' | trans([year])) }}
        {% endif %}

        {% if year and month %}
            {{ indent('filter.year-month' | trans([year, ('month.'~month)|trans])) }}
        {% endif %}

        <!-- Delete filter(s) -->
        <small>
            <a href="/{{ module }}" title="{{ 'Delete filter(s)'|trans }}">
                <i class="fa fa-times"></i>
            </a>
        </small>
    {% endif %}
</h1>
